body{
    background-color: #d5e1ef;
    min-height: 100vh;
    /* font-family: cursive; */
    text-align: center;
}

.card{
    position: absolute;
    margin: auto;
    inset: 0;
    padding-bottom: 3rem;
    height: 470px;
    max-width: 302px;
    width: 100%;
    background-color: white;
    box-shadow:rgba(0, 0, 0, 0,20%) 0px 10px 20px 0px;
    border-radius: 16px;
    padding: 1rem;
}

h2{
    color: #252d47;
}
p{
    color:hsl(220, 15%,55%);
}
img{
    width: 100%;
    border-radius: 10px;

}